//.leaflet-popup-content img { border:  }



#map{
	display:            inline-block;
	width:              65.5%;
	height:             100%;
	vertical-align:     middle;
}

#mapSide{
	display:            inline-block;
	width:              34%;
	height:             100%;
	vertical-align:     middle;
}


#mapSide {

	background: #a7cda7;
}

.clickable {
	cursor: pointer; 
}


